#d1{
    background-color: pink;
    box-sizing: ;
}
.d2{
    background-color: greenyellow; //chon mau nen
    color: blue; //chon mau chu
    text-decoration: none; //xoa gach chan
}
.d3{
    background-color: yellow;
}
.meo cuoi{
    height: px;
}